aside{
    background: #DFC7A4;
    margin-inline: 2%;
    margin-top: 48px;
    width: 10%;
    min-width: 100px;
}

a button{
    background-color: #DFC7A4;
    border: none;
    text-align: center;
    padding: 0;
    margin-inline: 5px;
    width: 130px;
    height: 32px;
    cursor: pointer;
    text-size-adjust: 100%;
}

a button:hover{
    background-color: #F9F2E2;
}