/* body */
    body{
        margin: 0;
        padding: 0;
    }
/*  */

/* header */
    header{
        display: flex;
         justify-content: space-evenly  ;
        align-items: center;
        gap: 200px;
        background-color: #2E81C9;
        padding: 1%
    }

    #logo{
        max-height: 75px;
    }

    /* search */
        #searchField{
            height: 50px;
            width: 375px;
            color: #1A4A73;
            font-size: 16px;
        }

        #searchButton{
            background-color: #1A4A73;
            border: none;
        }

        #searchIcon{
            height: 50px;
        }
    /*  */
    
/*  */