/* body */
    body{
        margin: 0;
        padding: 0;
        font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
    }
/*  */

/* header */
    header{
        display: flex;
         justify-content: space-evenly  ;
        align-items: center;
        gap: 20px;
        background-color: #2E81C9;
        padding: 1%
    }

    #logo{
        max-height: 75px;
    }

    /* search */
        #searchForm{
            display: flex;
            align-items: center;
            gap: 0px;
        }

        #searchField{
            height: 75px;
            width: 400px;
            color: #1A4A73;
            font-size: 16px;
            border: none;
            padding: 0 10px;
        }

        #searchButton, #cartButton{
            background-color: #1A4A73;
            border: none;
            text-align: center;
            padding: 0;
            width: 75px;
            height: 75px;
            cursor: pointer;
        }

        #cartButton a{
            display: block;
            width: 50px;
            height: 50px;
            margin: auto;
        }
        #searchIcon, #cartIcon{
            height: 50px;
            margin: auto;
        }
    /*  */
    
/*  */