
body{
    margin: 0;
    padding: 0;
}

/* header */
    header{
        display: flex;
         justify-content: space-evenly  ;
        align-items: center;
        gap: 200px;
        background-color: #2E81C9;
        padding: 1%
    }

    #logo{
        max-height: 75px;
    }

    /* search */
        #searchField{
            height: 50px;
            width: 375px;
            color: #1A4A73;
            font-size: 16px;
        }

        #searchButton{
            background-color: #1A4A73;
            border: none;
        }

        #searchIcon{
            height: 50px;
        }
    /*  */

/*  */

/* main */
    main{
        border: 1px solid #DFC7A4;
        margin-inline: 5%;
        margin-top: 5%;
        height: 200px;
    }

    /* view selection */
        label {
            float: left;
            width: 48px;
            height: 32px;
            position: relative;
            cursor: pointer;
        }

        label input[type=radio] {
            opacity: 0;
        }

        label img {
            position: absolute;
            top: 0;
            left: 0;
            height: 32px;
            border: white 2px solid;
        }

        :checked + img {
            opacity: 1;
            border: #2E81C9 2px solid;
        }
    /*  */

    #viewForm, #sortForm{
        float: left;
    }

    #pageForm{
        float: right ;
    }

    #searchOptions::after{
        clear: both;
    }

    #products{
        width: 80%;
        border-top: 1px solid #DFC7A4;
        margin-top: 50px;
    }
/*  */

/* footer */
    footer{
        background-color: #1A4A73;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
/*  */